/* CSS declarations go here */
#nouvelEvt{display:none;}
#detailEvt{display:none;}
tr.clickToDetail:hover,#logotitre:hover{cursor: pointer;}
tr.provisoire{color:#999;}
tr.local td strong{}
tr.regional td strong{}
tr.national td strong{}
tr.international td strong{}
tr.provisoire.international *,tr.provisoire.national *,tr.provisoire.regional *{}

#ouvrircomplement:hover{cursor: pointer;}
#ouvrirreco:hover{cursor: pointer;}

#detailEvt div h2{font-size: 110%}
#nouvelEvt .evtParOption{display:none;} 

/*flash messages*/
#flashMessage{margin: 20px; display: none}

/* gestion de la validation des formulaires*/
input:invalid, textarea:invalid, select:invalid{box-shadow:#f00; border-color: #f00}
.interacted:invalid {background-color:#fee;}
.interacted:valid {background-color:#efe;}


/*affichage détail evt*/
span.label{margin-right: 5px;}
#plandaccces{border:none;width:100%;height:250px;}