/* CSS declarations go here */
#nouvelEvt{display:none;}
#detailEvt{display:none;}
tr.clickToDetail:hover{cursor: pointer;}
#ouvrircomplement:hover{cursor: pointer;}
#ouvrirreco:hover{cursor: pointer;}

#detailEvt div h2{font-size: 110%}
#nouvelEvt .evtParOption{display:none;} 

/* gestion de la validation des formulaires*/
input:invalid, textarea:invalid, select:invalid{box-shadow: #f00}
.interacted:invalid {background-color:#fee;}
.interacted:valid {background-color:#efe;}