@font-face { font-family: "Ubuntu-Light";     src: url('/font/Ubuntu-L.ttf'); }

body{font-family: "Ubuntu-Light", sans-serif}
.label {font-family: arial, sans-serif}

#nouvelEvt{display:none;}
#detailEvt{display:none;}
tr.clickToDetail:hover,#logotitre:hover{cursor: pointer;}
tr.provisoire{color:#999;}
tr.local td strong{}
tr.regional td strong{}
tr.national td strong{}
tr.international td strong{}
tr.provisoire.international *,tr.provisoire.national *,tr.provisoire.regional *{}
.header .span3 img{float:right; margin-right: -25px;}

#ouvrircomplement:hover{cursor: pointer;}
#ouvrirreco:hover{cursor: pointer;}

#detailEvt .detailSection {font-family: ubuntu }
#detailEvt h1{text-transform: uppercase;}
#detailEvt div h2{font-size: 110%;background: #006b86; ; color : #fff; padding: 5px 5px;text-transform: uppercase;}

#nouvelEvt .evtParOption{display:none;} 

.well.aide{background-color: #fff; color: #707070}
#ficheEvt .well{background-color: #f8f8ff;}


/*flash messages*/
#flashMessage{margin: 20px; display: none}

/* gestion de la validation des formulaires*/
input:invalid, textarea:invalid, select:invalid{box-shadow:#f00;}
.interacted:invalid {background-color:#fee;}
.interacted:valid {background-color:#efe;}


/*affichage détail evt*/
span.label{margin-right: 5px;}
#plandaccces{border:none;width:100%;height:250px;}

/*footer*/
#footer{
    width: 100%; 
    font-size: 12px;
    font-family: arial, sans-serif;
    color: #333;
    padding: 70px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
}

/* retour utilisateurs */
/*PJ: on voit pas assez quand on clique */
#nouvelEvt button.btn.active{background-color: #bfb;}

/*XL : aérer les evt mois par mois*/

#calendrier tr.separator td {height: 20px; background: #fff; border: none ;}
#calendrier tr.monthline>td {text-transform: uppercase;  font-weight: bold; background-color: #006b86 !important; color: #fff !important;}
#calendrier tr.monthline:hover >td {background-color: #006b86 !important; color: #fff !important;}

i.icon-car{background: url('/icons/car.png') top left no-repeat}
i.icon-bicycle{background: url('/icons/bicycle.png') top left no-repeat}
i.icon-walk{background: url('/icons/walk.png') top left no-repeat}
i.icon-train{background: url('/icons/train.png') top left no-repeat}
i.icon-plane{background: url('/icons/plane.png') top left no-repeat}
i.icon-walk{background: url('/icons/walk.png') top left no-repeat}