<template name="listeEvt">
    <div class="row" >
        <div class="span8" >
            <div class='row nav'>
                <div class="span6">
                    <form class="navbar-search" id="search">
                        <input type="text" class="search-query" placeholder="rechercher" id='searchString' name='searchString'>
                        <a class='clicktosearch' href='provisoire'>{{iconify "provisoire"}}</a>
                        <a class='clicktosearch' href='definitif'>{{iconify "definitif"}}</a>
                        |
                        <a class='clicktosearch' href='international'>{{iconify "international"}}</a>
                        <a class='clicktosearch' href='national'>{{iconify "national"}}</a>
                        <a class='clicktosearch' href='regional'>{{iconify "regional"}}</a>
                        <a class='clicktosearch' href='departemental'>{{iconify "departemental"}}</a>
                        <a class='clicktosearch' href='local'>{{iconify "local"}}</a>
                        |
                        <a class='clicktosearch' href=''><i class='icon-remove' title='Tous les événements'></i></a>
                    </form>                    
                </div>
                <div class="span2">
                        <button id="newEvt" class="btn pull-right btn-success"><i class="icon-plus icon-white"></i> Nouvel événement</button>
                </div>
            </div>
            <table class="table table-hover table-striped table-condensed" id="calendrier">
                <tbody>
                    {{#each evenements}}
                    {{#if TitreIntermediaire}}
                    <tr class='separator'><td colspan='3'></td></tr>
                    <tr class='monthline'><td colspan='3' class="lead text--">{{TitreIntermediaire}}</td></tr> 
                    {{else}}

                    <tr id='{{_id}}' class='clickToDetail {{statut}} {{echelle}}}' title='Voir les détails' >
                        <td class="muted">{{jourdeb}}</td>
                        <td><strong>{{nom}}</strong>{{#if ville}}&nbsp;-&nbsp;{{ville}} {{/if}}</td>
                        <td>{{iconify statut}} {{iconify echelle}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div>
        {{#constant}}
        <div class="span4" >
            <aside class="well aide">
                <h3>Mode d'emploi</h3>
                <dl>
                    <dt>Pour <strong>créer</strong> votre événement</dt>
                    <dd>Il suffit de cliquer sur le bouton "Nouvel événement".</dd>
                    <dt>Pour <strong>avoir plus de détails</strong> sur un événement</dt>
                    <dd>Cliquez sur la ligne concernée, ci-contre.</dd>
                    <dt>Pour <strong>modifier</strong> votre événement</dt>
                    <dd>Il faut utiliser le lien que vous avez reçu par mail lors de la création de l'événement.</dd>
                    <dt>Si vous êtes perdu</dt>
                    <dd>Cliquez sur le logo en haut à gauche.</dd>
                    <dt>Si votre événement ne s'affiche pas</dt>
                    <dd>Si votre événement ne s'est jamais affiché, vérifiez que 
                        vous vous êtes connecté au moins une fois sur le lien
                        reçu par mail.</dd>
                    <dt>Si votre événement ne s'affiche plus</dt>
                    <dd>Si vous ne trouvez plus votre événement, vérifiez le
                        filtre de recherche est bien vide. Sinon connectez-vous
                        sur votre lien de modification pour vérifier que votre 
                        événement n'a pas le statut "annulé".</dd>
                </dl>
            </aside>
        </div>
        {{/constant}}
    </div>
</template>