<template name="renvoyerMailAdmin">
        <h1>{{evenement.nom}}<small> recevoir le lien d'administration</small></h1>

        <p>Pour recevoir votre lien à nouveau, merci de saisir l'e-mail utilisée pour créer l'événement : 
        <form id='frmRenvoyerMail' class="form-inline">
            <fieldset>
                <input type="email" name="emailAdmin" id="emailAdmin" />
                <button id="sendMail" class="btn">recevoir l'e-mail d'administration</button>
            </fieldset>
            
        </form>
</template>